<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Arctarus Interstellar Spaceport - Login </title>
    </head>

    <body style="background-image: url('/img/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <header>
            <%- include('../partials/header'); %>
        </header>

        <div style="min-height: 100%; margin-bottom: 60px;">
            <main class="container my-5 d-flex justify-content-center">
                <div class="row">
                <div class="col-md-12 mb-4">
                    <form action="/scheduledCargo" method="GET">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input
                        type="username"
                        id="username"
                        name = "username"
                        class="form-control"
                        autocomplete="off"
                        style="
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-size: 16px 18px;
                            background-position: 98% 50%;
                        "
                        />
                        <label
                        class="form-label"
                        for="form2Example1"
                        style="margin-left: 0px"
                        >Username</label
                        >
                        <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div
                            class="form-notch-middle"
                            style="width: 64px"
                        ></div>
                        <div class="form-notch-trailing"></div>
                        </div>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input
                        type="password"
                        id="password"
                        name = "password"
                        class="form-control"
                        autocomplete="off"
                        style="
                            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAUBJREFUOBGVVE2ORUAQLvIS4gwzEysHkHgnkMiEc4zEJXCMNwtWTmDh3UGcYoaFhZUFCzFVnu4wIaiE+vvq6+6qTgthGH6O4/jA7x1OiCAIPwj7CoLgSXDxSjEVzAt9k01CBKdWfsFf/2WNuEwc2YqigKZpK9glAlVVwTTNbQJZlnlCkiTAZnF/mePB2biRdhwHdF2HJEmgaRrwPA+qqoI4jle5/8XkXzrCFoHg+/5ICdpm13UTho7Q9/0WnsfwiL/ouHwHrJgQR8WEwVG+oXpMPaDAkdzvd7AsC8qyhCiKJjiRnCKwbRsMw9hcQ5zv9maSBeu6hjRNYRgGFuKaCNwjkjzPoSiK1d1gDDecQobOBwswzabD/D3Np7AHOIrvNpHmPI+Kc2RZBm3bcp8wuwSIot7QQ0PznoR6wYSK0Xb/AGVLcWwc7Ng3AAAAAElFTkSuQmCC');
                            background-repeat: no-repeat;
                            background-attachment: scroll;
                            background-size: 16px 18px;
                            background-position: 98% 50%;
                        "
                        />
                        <label
                        class="form-label"
                        for="form2Example2"
                        style="margin-left: 0px"
                        >Password</label
                        >
                        <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 64px"></div>
                        <div class="form-notch-trailing"></div>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4"> Sign in </button>
                    </form>
                </div>
            </main>
        </div>

        <footer class="py-5 mt-auto">
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>